<!-- show all jobs which are active select * from job where active=true -->
<div class="panel panel-info">
	<div class="panel-heading">Jobs</div>
	<div class="panel-body">
		<ul style="list-style: none">
			<!-- activeJobs is Array of job object -->
			<li ng-repeat="job in activeJobs"><b>Job Title: </b>{{job.jobTitle}}<br>
				<b>Skills Required: </b>{{job.skillsRequired}}<br> <b>Posted
					On: </b>{{job.postedOn | date:'medium'}}<br>
				<div ng-show="isClicked && job.id==id ">
					<b>Job Description: </b>{{job.jobDescription}}<br> <b>Salary:</b>{{job.salary}}<br>
					<b>Location: </b>{{job.location}}<br> <b>Companay Name:</b>{{job.companyname}}<br>
					<b>Years Of Exp:</b>{{job.yrsOfExp}}<br>
				</div> 
				
				
				<a ng-click="showJobDetails(job.id)"> 
				<span ng-show="isClicked && job.id==id">hide more details</span> 
				<span ng-hide="isClicked && job.id==id">show more details</span> 
				
				<!-- isCliked && job.id==id is true, hide the text "show more details" and show the text
			"hide more details"
			isCliked && job.id==id is is false, show the text "show more details and hide the text
			"hide more details"
			 -->
			</a>
			<br>
			<span ng-show="loggedInUser.role=='ADMIN'">
          <button class="btn btn-danger" ng-click="deactivateJobPosition(job)">Deactivate Job Position</button>
          </span>
          			
				<hr></li>
		</ul>
	</div>
</div>
