<link rel="stylesheet" href="http://localhost:9020/funboxFrontend/resources/css/blgapr.css">
{{error.message}}
<div class="panel with panel-danger class">
<div class="panel-heading">
<b>{{blogPost.blogTitle}}</b><br>
<b>PostedOn:{{blogPost.postedOn | date:'medium'}}</b><br>
<b>PostedBy:{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}} </b>

</div>
<div class="panel panel-body">

<p ng-bind-html="content"></p>

</div>
<div>
<!-- --APPROVE-UPDATE from user blogpost,
REJECT-DELETE  from user blogpost-->
<button ng-click="approve(blogPost)" class="btn btn-success">Approved</button>
	<button class="btn btn-danger" ng-click="reject(blogPost)">Reject</button>
	</div>
</div>