<div class="panel panel-info">
<div class="panel-heading">
<b>{{blogPost.blogTitle}}</b><br>
<b>PostedOn:{{blogPost.postedOn | date:'medium'}}</b><br>
<b>PostedBy:{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}} </b>
<br>
</div>
<div class="panel panel-body">

<p ng-bind-html="content"></p>

</div>
{{isLiked}}
<a ng-click="updateBlogPostLikes(blogPost.id)"> <span class="glyphicon glyphicon-thumbs-up"  ng-class="isLiked?'liked':'default'"></span></a>
{{blogPost.likes}}  likes<br>
<div>