<!-- without login, if user tries to logout  -->
<!-- invalid credentials ...invalid email /password -->
<link rel="stylesheet" href="http://localhost:9020/funboxFrontend/resources/css/login.css"> 
<h2 align="center">LogIn Page</h2>
<span style="color:red">{{error.message}}</span>
{{message}}
<table align="center">
<tr>
<td>Enter email </td>
<td>
<input type="email" ng-model="user.email">
</td>
</tr>

<tr>
<td>Enter password</td>
<td><input type="password" ng-model="user.password"></td>
</tr>

<tr>
<td align="center"><input type="submit"  value="login"  ng-click="login(user)" ></td>
</tr>

</table>
