<table>
	<tr>
		<td>Enter email </td>
		<td><input type="email" ng-model="loggedInUser.email" disabled>
		<span style="color:red">{{error.message}}</span>
		</td>
	</tr>

	<tr>
		<td>Enter password</td>
		<td><input type="password" ng-model="loggedInUser.password" required></td>
	</tr>

	<tr>
		<td>Enter Firstname</td>
		<td><input type="text" ng-model="loggedInUser.firstname" required></td>
	</tr>

	<tr>
		<td>Enter Lastname</td>
		<td><input type="text" ng-model="loggedInUser.lastname"></td>
	</tr>

	<tr>
		<td>Enter Phonenumber</td>
		<td><input type="text" ng-model="loggedInUser.phonenumber"></td>
	</tr>

	<tr>
		<td>Select Role</td>
		<td>
		<select ng-model="loggedInUser.role">
		<option value="STUDENT">Student
		<option value="EMPLOYEE">Employee
		<option value="ALUMNI">Alumni 
		</select>
		</td>
		
	</tr>
    <tr>
    <td><input type="submit" value="Edit" ng-click="updateProfile(loggedInUser)"></td>
    </tr>
    
</table>